
<div class="container my-5">
  <h1>Pets</h1>
  <br>
  <% @pets.each do |pet| %>
    <p>
    <%= link_to pet.name, pet_path(pet) %>
    &middot;  <%= link_to "delete", pet_path(pet),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
    <% end %>
    </p>
  <hr>
  <%= link_to "Add a pet", new_pet_path %>
</div>
